
<style>
html, body{ background: black !important; color: #fff !important; }

h1{padding-bottom: 15px;}
.no-gutter > [class*='col-'] {
    padding-right:0 !important;
    padding-left:0 !important;
}

.btn-custom{
	border: 0 none;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 12px 30px;
  border-radius: 0;
  background: {{ settings.add-to-cart-background-colour }};
  color: {{ settings.add-to-cart-text-colour }};
	font-family: 'Cabin';
}
.btn-custom1 {
  margin-bottom: 0;
  color: #fff;
  background: rgba(0, 0, 0, .65);
  font-size: 1.3em;
  padding: 15px 70px;
  border: 1px solid #f378ad;
  position:absolute;
  top:50%;
  left:30%;

}
.btn-custom2 {
  margin-bottom: 0;
  color: #fff;
  background: rgba(0, 0, 0, .65);
  font-size: 1.3em;
  padding: 15px 70px;
  border: 1px solid #f378ad;
  position:absolute;
  top:50%;
  right:30%;
}


</style>


<!-- IF LEFT float left -->
{% if block.settings.left == 'left' %}

<style>
#bookview{ float:left!important;}

</style>
    <!-- IF RIGHT float right -->
{% elsif block.settings.left == 'right' %}
<style>
#bookview{ float:right!important;}
</style>

{% endif %}

<div class="container-fluid" style="padding-top:20px;">
  <div class=" page-video-wrapper" >

      <div id="bookview" class="rng-img" style="vertical-align:middle; max-width:480px;"><img src="{{ block.settings.image2 | img_url: '1024x1024'}}"/></div>
      {% if block.settings.button_label_1 != blank and block.settings.button_link_1 != blank %}
        <a href="{{ block.settings.button_link_1 }}" class="btn btn-custom1" style="border: 1px solid {{ block.settings.button_border_1 }}">
          {{ block.settings.button_label_1 }}
        </a>
      {% endif %}

			{% if block.settings.image3 != blank %}
			<div class="rng-img"><img src="{{ block.settings.image3 | img_url: '1024x1024'}}"/></div>

			{% else %}
      <div class="video-container" id="myvideo" style="width: 64%;">
			{%- include 'video' -%}
      </div>

			{% endif %}

      {% if block.settings.button_label_2 != blank and block.settings.button_link_2 != blank %}
        <a href="{{ block.settings.button_link_2 }}" class="btn btn-custom2" style="border: 1px solid {{ block.settings.button_border_2 }}">
          {{ block.settings.button_label_2 }}
				 </a>
      {% endif %}


  </div>
</div>
