<div class="flex-columns dark header-cols" data-layout="balance">
	<div class="col-flex image-header" data-layout="col">
		<span class="image" style="background-image: url({{ article.image | img_url: 'grande' }})"></span>
	</div><!-- /.col-flex -->
	<div class="col-fixed text" data-layout="col">
		<div class="text-inner">
			<h1>{{ article.title }}</h1>
			<div class="wysiwyg">
				{{ article.excerpt }}
			</div><!-- /.wysiwyg -->
			<div class="more">
				{% for tag in article.tags %}
					{% if tag == '__featured' %}
						{% continue %}
					{% endif %}
					{% if forloop.index0 == 0 %}<em>More:</em> {% endif %}
					{% if forloop.index0 >= 1 %} <span>|</span> {% endif %}
					{{ tag | link_to_tag: tag }}
				{% endfor %}
			</div><!-- /.more -->
			<a href="{{ article.url }}" class="button wide">Read More</a>
		</div><!-- /.text-inner -->
	</div><!-- .col-fixed -->
</div><!-- /.flex-columns -->