<style>
  
  .main-links{
  	overflow: visible !important;
    z-index: 99;
  }
  .sub-main-links{
  	position: absolute !important;
    top: 80px;
    float: left;
    width: 260px;
    margin-left: -2em !important;
    padding: 0px 2em !important;
    overflow: visible !important;
    background-color: #3a3a3a;
    display:none;
  }
  .sub-main-links li{
  	margin-left: 0px !important;
  }
  
  .show{
  	display: grid !important ;
  }
  .mobile-menu{
  	position: relative !important;
    top: 20px;
    left:20px;
    margin-bottom: 20px;
    z-index: 99;
   
  }
  
</style>


<ul class="main-links" >
  {% for link in linklists.main-menu.links %}
  <li {% if link.links != blank %} class="{{ link.title }}" {% endif %}>
    <a href="{{ link.url }}" {% if link.active%}class="active"{%endif%}>{{ link.title }}</a>
    {% if link.links != blank %}
      <ul class="sub-main-links">
        {% for child_link in link.links %}
        <li><a href="{{ child_link.url }}" {% if child_link.active%}class="active"{%endif%}>{{ child_link.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </li>
  {% endfor %}
  {%comment%}
  <li><a href="{{ shop.url }}" {% if template == 'index' %}class="active"{% endif %}>Home</a></li>
  <li><a href="{{ pages.shop.url }}" {% if template == 'page.shop' or template == 'product' %}class="active"{% endif %}>Shop</a></li>
  <li><a href="{{ blogs.blog.url }}" {% if template == 'blog' or template == 'article' %}class="active"{% endif %}>Blog</a></li>
  <li><a href="{{ blogs.news.url }}" {% if template == 'blog.news' or template == 'article.news' %}class="active"{% endif %}>News</a></li>
  <li><a href="{{ pages.speaking.url }}" {% if template == 'page.speaking' %}class="active"{% endif %}>Speaking</a></li>
  <li><a href="{{ pages.consulting.url }}" {% if template == 'page.consulting' %}class="active"{% endif %}>Consulting</a></li>
  <li><a href="{{ shop.url }}/#bio">Bio</a></li>
  <li><a href="{{ pages.power-of-broke.url }}" {% if template == 'page.power-of-broke' %}class="active"{% endif %}>Power of Broke</a></li>
  <li><a href="{{ pages.shark-tools.url }}" {% if template == 'page.shark-tools' %}class="active"{% endif %}>Shark Tools</a></li>
  {%endcomment%}
</ul>

<script>
  
  (function(){
  	
    {% for link in linklists.main-menu.links %}
      {% if link.links != blank %}
    
        var menu_link = $(`nav.header .main .main-links .{{ link.title }}`)
        var sub_menu = $('nav.header .main .sub-main-links')
        var mobile_menu_link = $(`.sidecar .main .main-links .{{ link.title }}`)
        var mobile_sub_menu = $('.sidecar .main .sub-main-links')
    
        menu_link.mouseover(function(){
          sub_menu.addClass('show');
        });
		
        menu_link.mouseout(function(){
          sub_menu.removeClass('show');
        });
    
        mobile_menu_link.on('click', function(){
          if (mobile_sub_menu.hasClass('mobile-menu')){
            mobile_sub_menu.removeClass('show mobile-menu');
          	mobile_menu_link.css('marginBottom', '20px');
          } else {
            mobile_menu_link.css('marginBottom', `calc(` + mobile_sub_menu.height() + `px + 20px)`);
            mobile_sub_menu.addClass('show mobile-menu')
          }
        });



      {% endif %}
    {% endfor %}
    
  })()

</script>