<strong>Choose Retailer:</strong>
<div class="logos">
	<ul class="logo-list tight-space">
		<li><a href="http://links.penguinrandomhouse.com/type/affiliate/isbn/9781101903599/siteID/8001/retailerid/7/trackingcode/randohouseinc11555-20" target="_blank" style="background-image: url('{{ 'retailer-icon-amazon.png' | asset_url }}')">Amazon</a></li>
		<li><a href="http://links.penguinrandomhouse.com/type/affiliate/isbn/9781101903599/siteID/8001/retailerid/5/trackingcode/PRH8EEC6C67C7" target="_blank" style="background-image: url('{{ 'retailer-icon-bam.png' | asset_url }}')">Bam</a></li>
		<li><a href="http://links.penguinrandomhouse.com/type/affiliate/isbn/9781101903599/siteID/8001/retailerid/2/trackingcode/PRH8EEC6C67C7" target="_blank" style="background-image: url('{{ 'retailer-icon-barnes-noble.png' | asset_url }}')">Barnes and Noble</a></li>
		<li><a href="http://links.penguinrandomhouse.com/type/affiliate/isbn/9781101903599/siteID/8001/retailerid/6/trackingcode/penguinrandom" target="_blank" style="background-image: url('{{ 'retailer-icon-indie-bound.png' | asset_url }}')">Indie Bound</a></li>
		<li><a href="http://links.penguinrandomhouse.com/type/affiliate/isbn/9781101903599/siteID/8001/retailerid/9/trackingcode/PRH8EEC6C67C7" target="_blank" style="background-image: url('{{ 'retailer-icon-powells.png' | asset_url }}')">Powells</a></li>
		<li><a href="http://links.penguinrandomhouse.com/type/affiliate/isbn/9781101903605/siteID/8001/retailerid/3/trackingcode/PRH8EEC6C67C7" target="_blank" style="background-image: url('{{ 'retailer-icon-ibooks.png' | asset_url }}')">iBooks</a></li>
		<li><a href="http://links.penguinrandomhouse.com/type/affiliate/isbn/9781101903605/siteID/8001/retailerid/22/trackingcode/PRH8EEC6C67C7" target="_blank" style="background-image: url('{{ 'retailer-icon-google-play.png' | asset_url }}')">Google Play</a></li>
		<li><a href="http://800ceoread.com/products/power-of-broke-daymond-john-daniel-paisner-english?selected=215150" target="_blank" style="background-image: url('{{ 'retailer-icon-800-ceo.png' | asset_url }}')">800 CEO</a></li>
		<li><a href="http://www.book-pal.com/the-power-of-broke-how-empty-pockets-a-tight-budget-and-a-hunger-for-success-can-become-your-greatest-competitive-advantage.html" target="_blank" style="background-image: url('{{ 'retailer-icon-book-pal.png' | asset_url }}')">Book Pal</a></li>
	</ul>
</div><!-- /.logos -->
