<strong>Share</strong>
<div class="left">
  <ul class="social-icons"> 
    <li><a class="twitter-share" href="https://twitter.com/share?url={{shop.url}}{{ article.url }}&amp;text={{ article.title }}" target="_blank"><i class="fa fa-twitter"></i></a>
    <li><a class="facebook-share" href="http://www.facebook.com/sharer/sharer.php?u={{shop.url}}{{ article.url }}" target="_blank"><i class="fa fa-facebook"></i></a>
    <li><a class="linkedIn-share" href="https://www.linkedin.com/shareArticle?mini=true&url={{shop.url}}{{ article.url }}&title={{ article.title }}" target="_blank"><i class="fa fa-linkedin-square"></i></a>
  </ul><!-- /.share-icons -->
</div><!-- /.left -->
