{% layout 'theme' %}
<div class="section typeset standardpage">
<div class="account-form centerform">
  <h2 class="account-form-title">{{ 'customer.login.title' | t }}</h2>
  {% form 'customer_login' %}
    {{ form.errors | default_errors }}
    <div class="account-form-input">
      <label for="customer[email]">{{ 'customer.login.email' | t }}</label>
      <input type="email" class="form-field" value="" name="customer[email]" id="email" class="text" size="30" />
    </div>
    {% if form.password_needed %}
    <div class="account-form-input centerform">
      <label for="customer[password]">{{ 'customer.login.password' | t }}</label>
      <input type="password" class="form-field" value="" name="customer[password]" id="password" class="password text" size="30" />
    </div>
    {% endif %}
    <div class="account-form-action forgot-password centerform"><a href="#">{{ 'customer.login.forgot_password' | t }}</a></div>
    <div class="account-form-action register-account"><a href="/account/register">Register For A New Account</a></div>
    <div class="account-form-submit">
      <input class="btn btnblack" type="submit" value="{{ 'customer.login.sign_in' | t }}" />
    </div>
  {% endform %}
</div>

<div id="customer-reset-password" class="centerform">
  <div class="row">
    <div class="span12">
      <h1>{{ 'customer.reset_password.title' | t }}</h1>

      {% form 'reset_customer_password' %}
      {{ form.errors | default_errors }}

      <label class="label" for="password">{{ 'customer.reset_password.password' | t }}</label>
      <input type="password" class="form-field" value="" name="customer[password]" id="customer_password" class="text" size="16" />

      <label class="label" for="password_confirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
      <input type="password" class="form-field" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="text" size="16" />

      <div class="action_bottom">
        <input class="btn btnblack" type="submit" value="{{ 'customer.reset_password.submit' | t }}" />
      </div>
      {% endform %}
    </div>
  </div>

</div>
</section>