
<ul class="post-list">
  {% for article in blogs.shark-tools.articles %}
  <li data-layout="balance" id="partner-{{ article.id }}">
    <div class="image-header" data-layout="col" 
         style="background-image: url('{{ article.image | img_url: 'grande' }}');">
      <a class="shark-img" 
      {% for block in section.blocks %}
        {{ block.shopify_attributes }}
           {% assign schema_article = articles[block.settings.article] %}
             {% if article.id == schema_article.id %}
             	href="{{ block.settings.custom_url }}"
             {% endif %}
      {% endfor %} >
      	<span>Read More</span>  
      </a>
    </div><!-- /.image-header -->
    <div class="post-data" data-layout="col">
      <strong>Our Partner</strong> 
      	<h2><a href="{{ article.metafields.sharktools.link }}">{{ article.title }}</a></h2>
      		<p>{{ article.content }}</p>
    </div><!-- /.post-data -->
  </li>
  {% endfor %}
</ul><!-- /.post-list -->



{% schema %}
  {
    "name": "Shark Tools",
	"max_blocks": 25,
    "blocks": [
		{
			"type" : "url",
			"name" : "Shark Tool URL",
			"settings" : [
				{
					"id" : "custom_url",
					"type":"url",
					"label" : "Custom URL"
					
				},
				{
					"id" : "article",
					"type": "article",
					"label" : "Article"
				}
			]
			
		}
		
	
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
