<header>
	<div class="contain row">
		<div class="col-md-6 image">
			<img src="{{ 'book_power-of-broke_large.jpg' | asset_url }}" />
		</div><!-- /.col -->
		<div class="col-md-6 text">
			<div class="content">
				<h2>Introducing, "Daymond On Demand"</h2>
				<h1>Exclusives for Daymond John Insiders</h1>
				<p>In The Power of Broke, Daymond John takes an insightful look at individuals who’ve launched their own powerful brands and careers from a place of desperation, harnessing the “power of broke” to think creatively, alternatively, and aggressively in order to make a meaningful mark.</p>
				{%comment%}<a href="@#TODO" class="button medium">Buy Now</a>{%endcomment%}
			</div><!-- /.content -->
		</div><!-- /.col -->
	</div><!-- /.row -->
</header>

<section class="call-out video">
	<div class="contain">
		<div class="headlines">
			<h3>Watch</h3>
			<h2>Daymond John Introduces the Power of Broke</h2>
		</div><!-- /.headlines -->
		<div class="youtube-wrap"><iframe width="560" height="315" src="https://www.youtube.com/embed/0Z-R0sdBww0" frameborder="0" allowfullscreen=""></div>
        </iframe>
	</div><!-- /.contain -->
</section><!-- /.call-out -->

{% comment %}
<section class="call-out">
		<div class="call-out-inner">
		<div class="headlines">
			<h3>Get the latest book</h3>
			<h2>Power of Broke</h2>
		</div><!-- /.headlines -->
	</div><!-- /.call-out-inner -->
</section><!-- /.call-out -->
{% endcomment %}

<section class="book-purchase dark">
	<div class="contain wide">
		<div class="row no-gutter no-mobile-adjust" data-layout="balance">
			<div class="col-md-7 text" data-layout="col">
				<div class="content">
					<h3>Buy 1 Book</h3>
					<h4>Personal Copy</h4>
					<div class="tabs mobile">
						<div class="tabs-contain">
							<div class="tab active">
								<p>The book highlights a series of case studies with entrepreneurs from all walks of life who managed to build businesses from very little. The Power of Broke will teach you how to use what you think are your biggest weaknesses and how you can turn them into your greatest strengths. There are no extra giveaways for pre-ordering one book. Check at the packages below to get access to exclusive content and Daymond.</p>
							</div><!-- /.tab -->
							<div class="tab slide-right">
								<div class="purchase">
									{% include 'power-of-broke-purchase-links' %}
								</div><!-- /.purchase -->
							</div><!-- /.tab -->
						</div><!-- /.tab-content -->
						<ul class="tab-nav">
							<li data-tab-request="1" data-action="purchase-toggle"  data-change-request="true"><span class="button medium red">Buy Now</span></li>
						</ul>
					</div><!-- /.tabs -->
				</div><!-- /.content -->
			</div><!-- /.col -->
			<div class="col-md-5 image" data-layout="col">
				<div class="picture" style="background-image:url('{{ 'pob_1.jpg' | asset_url }}')"></div>
			</div><!-- /.col -->
		</div><!-- /.row -->
		<div class="row no-gutter no-mobile-adjust" data-layout="balance">
			<div class="col-md-7 text" data-layout="col">
				<div class="content">
					<h3>Buy 5 Books</h3>
					<h4>Extended Edition</h4>
					<div class="tabs mobile">
						<div class="tabs-contain">
							<div class="tab active">
								<p>This book is rich with the stories of the entrepreneurs who harnessed "the power of broke". The concept has resonated strongly and even more entrepreneurs have told us their inspirational stories. At this level get access to an extended chapter of the book containing 3 additional "power of broke" stories.</p>
							</div><!-- /.tab -->
							<div class="tab slide-right">
								<div class="purchase">
									{% include 'power-of-broke-purchase-links' %}
								</div><!-- /.purchase -->
							</div><!-- /.tab -->
						</div><!-- /.tab-content -->
						<ul class="tab-nav">
							<li data-tab-request="1" data-action="purchase-toggle"  data-change-request="true"><span class="button medium red">Buy Now</span></li>
							<li data-tab-request="0" data-action="purchase-toggle" data-change-request="false"><span class="button medium open-modal" data-modal="redemption">Redeem</span></li>
						</ul>
					</div><!-- /.tabs -->
				</div><!-- /.content -->
			</div><!-- /.col -->
			<div class="col-md-5 image" data-layout="col">
				<div class="picture" style="background-image:url('{{ 'pob_5.jpg' | asset_url }}')"></div>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.contain -->
	<div class="contain wide">
		<div class="row no-gutter no-mobile-adjust" data-layout="balance">
			<div class="col-md-7 text" data-layout="col">
				<div class="content">
					<h3>Buy 25 Books</h3>
					<h4>Interview Transcripts and Free E Books</h4>
					<div class="tabs mobile">
						<div class="tabs-contain">
							<div class="tab active">
								<p>Get the story behind the scenes of how these entrepreneurs learned what was needed to achieve greatness.  Fully downloadable transcripts of the interviews will provide a more personal look at each of the stories. Even more we will give you the opportunity to learn more about Daymond John's story with E-downloads of "Display of Power" and "The Brand Within".</p>
							</div><!-- /.tab -->
							<div class="tab slide-right">
								<div class="purchase">
									{% include 'power-of-broke-purchase-links' %}
								</div><!-- /.purchase -->
							</div><!-- /.tab -->
						</div><!-- /.tab-content -->
						<ul class="tab-nav">
							<li data-tab-request="1" data-action="purchase-toggle"  data-change-request="true"><span class="button medium red">Buy Now</span></li>
							<li data-tab-request="0" data-action="purchase-toggle" data-change-request="false"><span class="button medium open-modal" data-modal="redemption">Redeem</span></li>
						</ul>
					</div><!-- /.tabs -->
				</div><!-- /.content -->
			</div><!-- /.col -->
			<div class="col-md-5 image" data-layout="col">
				<div class="picture" style="background-image:url('{{ 'pob_25.jpg' | asset_url }}')"></div>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.contain -->
	<div class="contain wide">
		<div class="row no-gutter no-mobile-adjust" data-layout="balance">
			<div class="col-md-7 text" data-layout="col">
				<div class="content">
					<h3>Buy 50 Books</h3>
					<h4>Partnership Package</h4>
					<div class="tabs mobile">
						<div class="tabs-contain">
							<div class="tab active">
								<p>Daymond John has hand picked a select group of his partners (Shopify, Moguls Mobile, etc) to participate in the promotion of <em>The Power of Broke</em>. In turn these partners have decided to provide access to some pretty awesome products and resources to help in everything from personal style to growing your sales organically.</p>
							</div><!-- /.tab -->
							<div class="tab slide-right">
								<div class="purchase">
									{% include 'power-of-broke-purchase-links' %}
								</div><!-- /.purchase -->
							</div><!-- /.tab -->
						</div><!-- /.tab-content -->
						<ul class="tab-nav">
							<li data-tab-request="1" data-action="purchase-toggle"  data-change-request="true"><span class="button medium red">Buy Now</span></li>
							<li data-tab-request="0" data-action="purchase-toggle" data-change-request="false"><span class="button medium open-modal" data-modal="redemption">Redeem</span></li>
						</ul>
					</div><!-- /.tabs -->
				</div><!-- /.content -->
			</div><!-- /.col -->
			<div class="col-md-5 image" data-layout="col">
				<div class="picture" style="background-image:url('{{ 'pob_50.jpg' | asset_url }}')"></div>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.contain -->
	<div class="contain wide">
		<div class="row no-gutter no-mobile-adjust" data-layout="balance">
			<div class="col-md-7 text" data-layout="col">
				<div class="content">
					<h3>Buy 100 Books</h3>
					<h4>Extra Interviewee Content</h4>
					<div class="tabs mobile">
						<div class="tabs-contain">
							<div class="tab active">
								<p>The amazing people interviewed in the book, like Loren Ridinger, Jay Abraham, Tim Ferriss, and more, had such a good time that they wanted to offer some of their own resources to enrich your experience in practicing the <em>Power of Broke</em>.  At this level get access to the gifts that these interviewees wanted to share with you.</p>
							</div><!-- /.tab -->
							<div class="tab slide-right">
								<div class="purchase">
									{% include 'power-of-broke-purchase-links' %}
								</div><!-- /.purchase -->
							</div><!-- /.tab -->
						</div><!-- /.tab-content -->
						<ul class="tab-nav">
							<li data-tab-request="1" data-action="purchase-toggle"  data-change-request="true"><span class="button medium red">Buy Now</span></li>
							<li data-tab-request="0" data-action="purchase-toggle" data-change-request="false"><span class="button medium open-modal" data-modal="redemption">Redeem</span></li>
						</ul>
					</div><!-- /.tabs -->
				</div><!-- /.content -->
			</div><!-- /.col -->
			<div class="col-md-5 image" data-layout="col">
				<div class="picture" style="background-image:url('{{ 'pob_100.jpg' | asset_url }}')"></div>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.contain -->
	<div class="contain wide">
		<div class="row no-gutter no-mobile-adjust" data-layout="balance">
			<div class="col-md-7 text" data-layout="col">
				<div class="content">
					<h3>Buy 500 Books</h3>
					<h4>Twitter Shout Out</h4>
					<div class="tabs mobile">
						<div class="tabs-contain">
							<div class="tab active">
								<p>Growing your brand through organically through social media is a key concept in <em>The Power of Broke</em>. Daymond leveraged different media outlets to promote his brand and businesses throughout the years so we are offering something similar. Daymond will give you a shout out from his Twitter account. Just maybe these passionate fans will find your brand to be the next big thing to support. All purchasers are subject to our discretion and approval at this package level.</p>
							</div><!-- /.tab -->
							<div class="tab slide-right">
								<div class="purchase">
									{% include 'power-of-broke-purchase-links' %}
								</div><!-- /.purchase -->
							</div><!-- /.tab -->
						</div><!-- /.tab-content -->
						<ul class="tab-nav">
							<li data-tab-request="1" data-action="purchase-toggle"  data-change-request="true"><span class="button medium red">Buy Now</span></li>
							<li data-tab-request="0" data-action="purchase-toggle" data-change-request="false"><span class="button medium open-modal" data-modal="redemption">Redeem</span></li>
						</ul>
					</div><!-- /.tabs -->
				</div><!-- /.content -->
			</div><!-- /.col -->
			<div class="col-md-5 image" data-layout="col">
				<div class="picture" style="background-image:url('{{ 'pob_500.jpg' | asset_url }}')"></div>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.contain -->
	<div class="contain wide">
		<div class="row no-gutter no-mobile-adjust" data-layout="balance">
			<div class="col-md-7 text" data-layout="col">
				<div class="content">
					<h3>Buy 1000 Books</h3>
					<h4>Consultation With My Team</h4>
					<div class="tabs mobile">
						<div class="tabs-contain">
							<div class="tab active">
								<p>Millions of viewers tune into ABC's <em>Shark Tank</em> as Daymond John demonstrates his marketing prowess and offers entrepreneurial insight to different businesses. The demand for his advice vastly outnumbers the attention he can provide. Choose this bundle to separate your company from the rest and get specialized attention from Daymond John's Shark Branding Team. Shark Branding will evaluate you as they would for any of Daymond's personal businesses, or clients.</p>
							</div><!-- /.tab -->
							<div class="tab slide-right">
								<div class="purchase">
									{% include 'power-of-broke-purchase-links' %}
								</div><!-- /.purchase -->
							</div><!-- /.tab -->
						</div><!-- /.tab-content -->
						<ul class="tab-nav">
							<li data-tab-request="1" data-action="purchase-toggle"  data-change-request="true"><span class="button medium red">Buy Now</span></li>
							<li data-tab-request="0" data-action="purchase-toggle" data-change-request="false"><span class="button medium open-modal" data-modal="redemption">Redeem</span></li>
						</ul>
					</div><!-- /.tabs -->
				</div><!-- /.content -->
			</div><!-- /.col -->
			<div class="col-md-5 image" data-layout="col">
				<div class="picture" style="background-image:url('{{ 'pob_1000.jpg' | asset_url }}')"></div>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.contain -->
	<div class="contain wide">
		<div class="row no-gutter no-mobile-adjust" data-layout="balance">
			<div class="col-md-7 text" data-layout="col">
				<div class="content">
					<h3>Buy 4000 Books</h3>
					<h4>Digital Event for Your Company</h4>
					<div class="tabs mobile">
						<div class="tabs-contain">
							<div class="tab active">
								<p>A celebrity investor, a global fashion icon, a Presidential Ambassador for Global Entrepreneurship, and more, Daymond is regarded as one of the most sought after branding experts and keynote speakers in the world. This is an exclusive chance for you to converse with Daymond directly and bring 4 (four) other executives, team members, friends, or family members in on the private Q&amp;A. Daymond John will field questions collected from your audience and advise on how to harness the <em>Power of Broke</em> today!</p>
							</div><!-- /.tab -->
							<div class="tab slide-right">
								<div class="purchase">
									{% include 'power-of-broke-purchase-links' %}
								</div><!-- /.purchase -->
							</div><!-- /.tab -->
						</div><!-- /.tab-content -->
						<ul class="tab-nav">
							<li data-tab-request="1" data-action="purchase-toggle"  data-change-request="true"><span class="button medium red">Buy Now</span></li>
							<li data-tab-request="0" data-action="purchase-toggle" data-change-request="false"><span class="button medium open-modal" data-modal="redemption">Redeem</span></li>
						</ul>
					</div><!-- /.tabs -->
				</div><!-- /.content -->
			</div><!-- /.col -->
			<div class="col-md-5 image" data-layout="col">
				<div class="picture" style="background-image:url('{{ 'pob_4000.jpg' | asset_url }}')"></div>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.contain -->
</section>

{% include 'social-footer' %}