<style>
.post-content .button-wrapper{
	width: 100%; 
	margin: 0 auto 2em;
}

.post-content .button-wrapper span.button {
	width: 100%;
}

@media screen and (min-width: 480px){
	.post-content .button-wrapper{
		width: fit-content;
	}
}
</style>

{% assign content = page.content | split: '<!-- split -->'  %}
<header>
	<div class="contain narrow">
		<h2>Engagement</h2>
		<h1>{{ page.title }}</h1>
	</div><!-- /.contain -->
	{% capture featured_image %}featured-{{page.handle}}.jpg{%endcapture%}
    {% capture quote_text %}quote_text{%endcapture%}
	<div class="header-image" style="background-image: url({{ featured_image | file_url  }});">
      <div class="quote-container">
        <blockquote class="header-quote">{{ settings[quote_text] }}</blockquote>
      </div>
  </div><!-- /.header-image -->
</header>
<div>
	<div class="post-content contain narrow">
		<div class="button-wrapper">
			<span class="button on-light open-modal" data-modal="book">Book Daymond for your speaking engagment</span>
		</div>
		{{ content[0] }}
	</div><!-- .post-content -->
</div><!-- /.contain -->
{% section 'partners' %}
{% include 'social-footer' %}
